.alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}
.alert-box {
    background-color: #ffffff;
    border-radius: 8px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    max-width: 40%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    z-index: 1001;
    animation: fadeIn 0.3s ease-in-out;
    visibility: visible;
}
.alert-title {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 2rem;
}
.alert-message {
    font-size: 16px;
    margin-bottom: 20px;
}
.form-label{
    display: block;
    text-align: start;
    padding-left: 0.5rem;
}
.popUp-action{
    margin-bottom: 1rem;
}
.popUp-info{
    display: flex;justify-content: center; 
    padding-bottom: 1rem;
    font-size: 16px;
    gap: 20px;
}
.popUp-form{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.popUp-form input, .popUp-form select{
    padding: 16px;
    width: 90%;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 1px solid;
}




.alert-button {
    background-color: #ffffff;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.alert-button:hover {
    background-color: #f1f1f1;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}